#game-setup {
    width: 60vw;
}
#image {
    width: 14vw;
    height: auto;
}

#explanation{
    max-width: 683px;
    margin-left: 3vw;
    margin-top: 3vw;
    background-color: #7CA982;
}

#form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 53%;
}

body {
    background-color: #F1F7ED;
}
main {
    display: flex;
    align-items: center
}

header {
    background-color: #243E36;
    color: #F1F7ED;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

li {
    display: inline;
    padding: 1vw;
    color: #F1F7ED;
}

a {
    color: #F1F7ED;;
}

#nav-list {
    list-style: none;
    color: #F1F7ED;;
}

input {
    background-color: #E0EEC6 !important;
}

#result-text{
    color: #243E36;
    padding: 3vw;
}

.skip-to-content-link {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link:focus {
transform: translateY(0%);
}

.id-play {
    display: block;
}