#rps-img {
    background-image: url('../img/rock-paper-scissors.png');
}
#game-setup {
    width: 60vw;
}
#image {
    width: 14vw;
    height: auto;
}

#explanation{
    display: flex;
    width: max-content;
}