{% extends "base.html" %} {% block content %}

<main>
    <div class="card mb-3" id="explanation">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="../static/rock-paper-scissors.png" class="img-fluid rounded-start" alt="Explanation of the game rock paper scissors">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">R/P/S Game</h5>
                    <p class="card-text">Rock, Paper, Scissors (aka "Ro-Sham-Bo"; janken; "Bato, Bato, Pick"; and "Scissors, Paper, Stone") is a simple game: It is played around the world and is commonly used as a way of coming to decisions. The rules require
                        that competing players use one hand to form one of three shapes at an
                        agreed-upon time. The person that plays the strongest “object” is the
                        winner of the game. It's that easy! Rock, Paper, Scissors is a simple game
                        that anybody can play and win. There is no intrinsic advantage to the
                        stronger, older, or more experienced opponent</p>
                </div>
            </div>
        </div>
    </div>

    <div id="form-container">
        <h3>Please input player names, choices and click on play button:</h3>   
        <form class="input-group mb-3" id="game-setup" action="/<player_one_choice>/<player_two_choice>" method="post">
            <span class="input-group-text">Player One</span>
            <input type="text" aria-label="Player One Name" class="form-control" name="name1" id="name1">
            <select class="form-select" aria-label="Select your choice for the game" name="choice1">
                <option selected>Select your choice for the game</option>
                <option value="rock">Rock</option>
                <option value="scissors">Scissors</option>
                <option value="paper">Paper</option>
            </select>
        
            <span class="input-group-text">Player Two</span>
            <input type="text" aria-label="Player Two Name" class="form-control" name="name2" id="name2">
            <select class="form-select" aria-label="Select your choice for the game" name="choice2">
                <option selected>Select your choice for the game</option>
                <option value="rock">Rock</option>
                <option value="scissors">Scissors</option>
                <option value="paper">Paper</option>
            </select>
            <button type="submit" class="btn btn-primary">Play</button>
        </form>
    </div>
</main>
{% endblock %}
